.container {
  outline: 1px solid;
  height: 100px;
  margin: 5px;
  width: 100px;
}

.selectedContainer {
  outline: 2px solid;
  height: 100px;
  margin: 5px;
  width: 100px;
}

.unlockedAchievement {
  outline-color: white;
}

.lockedAchievement {
  outline-color: gray;
}

.secretAchievement {
  outline-color: black;
}