.container {
  border: 2px solid;
  height: 50%;
  width: 100%;
}

.totalContainer {
  border: 2px solid;
  height: 10%;
  width: 100%;
}

.itemDetail {
  height: 90%;
  overflow: auto;
  width: 100%;
}