.container {
  height: 100%;
}

.header {
  height: 20%;
}

.titlebar {
  text-align: center;
}

.hbox {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  width: 100%;
}

.vbox {
  display: flex;
  height: 100%;
  width: 100%;
}

.mainBlock {
  height: 60%;
  margin: auto;
  width: 80%;
}
