.container {
  height: 100%;
  width: 100%;
}

.titlebar {
  height: 10%;
}

.mainBlock {
  height: 80%;
  margin: auto;
  width: 80%;
}

.command {
  display: flex;
  margin: auto;
  height: 95%;
  width: 100%;
}